@font-face {
 font-family:'Space Mono';
 src:url(/assets/SpaceMono-Regular-d0855b0c557b78ea0449762b25ccca018880f483e56ff9a69e7cbde1dc12fa3a.ttf)
}
html{
  background-color:#152347;
 font-size:16px;
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 min-width:300px;
 overflow-x:hidden;
 overflow-y:scroll;
 text-rendering:optimizeLegibility;
 text-size-adjust:100%;
}
body{
  background-color: #152347;
}
.logo{

 top:30%;
 left:50%;
 z-index:-1;
}
.glug_logo{
  width: 5em;
    max-width: 30vw;
    -webkit-filter: drop-shadow(1px 1px 2px #000);
filter: drop-shadow(1px 1px 2px #000);
}
.grp{
  position: absolute;
  right:0;
  top: 30%;
  z-index:-1;
}
#demo{
  color: white;
  text-align: center;

}
.time{
  color: white;
  text-align: center;
}
.grp2{
  position: absolute;
  float:left;
  left=0;
  top:5%;
  z-index:-1;
}
.header{
  top: 20%;
  text-align: center;
  font-size: 4 rem;
  color: white;
  top:20%;
  font-family: monospace;


}
#section01 a span {
  position: absolute;
  
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.hack{
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 6 rem;
}

.highlight{
  color:#fff922;
  text-align:center;
}
